doctype html
html
    head
        link(href='./style.css', rel='stylesheet' type="text/css")   
    body
        form(id="formWrapper" method="POST" action="/")
            h1 Create New Task
            label(for='name') Task Title: 
            input(class="inputField" type='text' value='name' name='name')
            br
            label(for='desc') Task Description: 
            input(class="inputField" type='text' value='desc' name='desc')
            br
            input(type="submit" text="Add Task" id="button")
        div(id="taskCard")
            h1(id="taskHeader")
            p(id="taskDesc")