doctype html
html
    head
        link(href='./style.css', rel='stylesheet' type="text/css")   
    body
        form(action="")
            label(for='name') Task Title: 
            input(type='text' value='name' name='name')
            label(for='desc') Task Description: 
            input(type='text' value='desc' name='desc')