doctype html
html
    head
        link(href='./style.css', rel='stylesheet' type="text/css")   
    body
        form(id="formWrapper" method="POST" action="/")
            h1 Create New Task
            label(for='name' class="labelField") Task Title:
            br
            input(class="inputField" type='text' name='name' placeholder="Task Title")
            br
            label(for='desc' class="labelField") Task Description: 
            br
            input(class="inputField" type='text' placeholder="Task Description" name='desc' )
            br
            input(type="submit" text="Add Task" id="button")

        div(id='task_holder')

        script(src='tasks.json')
        script(src='script.js')