doctype html
html
    head
        link(href='./dist/dragula.css' rel='stylesheet' type="text/css")
        link(href='./style.css', rel='stylesheet' type="text/css")   
    body
        form(id="formWrapper" method="POST" action="/")
            h1 Create New Task
            label(for='name' class="labelField") Task Title:
            br
            input(class="inputField" type='text' name='name' placeholder="Task Title")
            br
            label(for='desc' class="labelField") Task Description: 
            br
            input(class="inputField" type='text' placeholder="Task Description" name='desc' )
            br
            input(type="submit" text="Add Task" id="button")

        div(id='task_holder')
            div(class='task')
                each task in tasks 
                    form(id ="formWrapper" method="POST" action="/update_item")
                        input(class="inputField" id=`${task.taskName}` type='text' name='name' placeholder=`${task.taskName}`)
                        br
                        input(class="inputField" id=`${task.taskDesc}` type='text' name='desc' placeholder=`${task.taskDesc}`)
                        br
                        label(for='check' class="labelField") Compeleted? 
                        input(type='checkbox' name='check')
                        br
                        label(for='delete' class="labelField") Delete: 
                        input(type='checkbox' name='delete')
        
        script(src='https://cdnjs.cloudflare.com/ajax/libs/dragula/3.7.3/dragula.min.js')
        script(src='script.js')