doctype html
html
    head
        link(href='./style.css', rel='stylesheet' type="text/css")   
    body
        form(action="")
            label(for='name') Task Title: 
            input(type='text' placeholder='Enter Task Name...' name='name')
            br
            label(for='desc') Task Description: 
            input(type='text' placeholder='Enter Task Description...' name='desc')